<%- include('partials/header.ejs') %>
    <h2>Nueva vela</h2>
    <form class="formNew" action="/velas/<%= producto.id %>?_method=PUT" method="post">
        <label for="name">Nombre:</label>
        <input id="name" name="name" type="text" value="<%= producto.name %>">

        <label for="price">Precio:</label>
        <input id="price" name="price" type="text" value="<%= producto.price %>">

        <label for="description">Descripción:</label>
        <input id="description" name="description" type="text" value="<%= producto.description %>">

        <label for="disponible">Disponible:</label>
        <input type="checkbox" id="disponible" name="disponible" value="<%= producto.disponible %>">
        
        <label for="category">Categoría:</label>
        <input id="category" name="category" type="text" value="<%= producto.category %>">

        <label for="stock">Stock: </label>
        <input id="stock" name="stock" type="number" value="<%= producto.stock %>">

        <button type="submit">Enviar</button>
    </form>
<%- include('partials/footer.ejs') %>