<%- include('partials/header.ejs') %>
    <h2>Nuevo usuario</h2>
    <form class="formNew" action="/usuarios/<%= usuario.id %>?_method=PUT" method="post">
        <label for="name">Nombre:</label>
        <input id="name" name="name" type="text" value="<%= usuario.first_name %>">

        <label for="lastname">Apellido:</label>
        <input id="lastname" name="lastname" type="text" value="<%= usuario.last_name %>">

        <label for="email">Email:</label>
        <input id="email" name="email" type="text" value="<%= usuario.email %>">

        <label for="disponible">Disponible:</label>
        <input type="checkbox" id="disponible" name="disponible" value="<%= usuario.disponible %>">

        <button type="submit">Enviar</button>
    </form>
<%- include('partials/footer.ejs') %>